body {
}
p{font-family:'Dosis';}
#Moksie_title{
color:white;
}
#carousel-example-generic{
width:100%;
}
#links_pr{
padding-top: 44px;
font-family:'Dosis';
font-weight:bold;
color:black;
}
#logo{
    height:105px;
}
.topbarmoksie{
    max-width: 1280px;
    max-height: 105px;
    margin:0 auto;
    top:50%;
}
.navbar{
    max-width: 1280px;
    margin:0 auto;
    background: #fff url(../images/header.svg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.navbar-brand{
    width:192px;
    height:77px;
    background: url(../images/logo_menu.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
#carrousel{
width:100%;
}

.icon-pocket {
background: #fff url(../images/pocket_icon.png) 0 0 no-repeat;
background-position:center;
}
.icon-pocket:hover {
background: #fff url(../images/pocket_icon_hover.png) 0 0 no-repeat;
background-position:center;
}
.icon-travel {
background: #fff url(../images/travel_icon.png) 0 0 no-repeat;
background-position:center;
}
.icon-travel:hover {
background: #fff url(../images/travel_icon_hover.png) 0 0 no-repeat;
background-position:center;
}
.icon-executive {
background: #fff url(../images/executive_icon.png) 0 0 no-repeat;
background-position:center;
}
.icon-sounds {
background: #fff url(../images/sounds_icon.png) 0 0 no-repeat;
background-position:center;
}
.project-icon {
text-align: center;
padding-top: 10%;
padding-bottom: 10%;
background-color: rgb(230, 230, 230);
}

@media (min-width: 926px) { /* Insert your own breakpoint as needed */
 .mobile-menu { display: none; }
}
 
@media (max-width: 925px) { /* Insert your own breakpoint as needed */
 .mobile-menu { display: block; margin-bottom: 9px;}
 nav#mainNav .nav { display: none; }
 nav#mainNav.navbar .nav>li { width: 100%; }
}