body { 
    padding-top: 107px;
}
p{font-family:'Dosis';}
.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.navbar-moksie
{
    padding-top: 13px;
    padding-left: 100px;
}
#Moksie_title{
    color:white;
}

#carousel-example-generic{
    width:100%;
}

#links_pr{
        padding-top: 44px;
        font-family:'Dosis';
        font-weight:bold;
    color:white;
}
#links_pr:focus{
    background-color: #962f2f;
    padding-top: 44px;
    color:white;
}

#carrousel{
    width:100%;
}

#logo{
    padding-bottom: 13px;
}
.navbar
{
    height: 105px;
    line-height: 105px;
    background: url(../images/header.svg);
    background-position:center;

}

.icon-pocket {
    background: #fff url(../images/pocket_icon.png) 0 0 no-repeat;
    background-position:center;
}

.icon-pocket:hover {
    background: #fff url(../images/pocket_icon_hover.png) 0 0 no-repeat;
    background-position:center;
}

.icon-travel {
    background: #fff url(../images/travel_icon.png) 0 0 no-repeat;
    background-position:center;
}

.icon-travel:hover {
    background: #fff url(../images/travel_icon_hover.png) 0 0 no-repeat;
    background-position:center;
}

.icon-executive {
    background: #fff url(../images/executive_icon.png) 0 0 no-repeat;
    background-position:center;
}

.icon-sounds {
    background: #fff url(../images/sounds_icon.png) 0 0 no-repeat;
    background-position:center;
}

.project-icon {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgb(230, 230, 230);
}


/*carrosel*/

#wrapper {
    width: 1000px;
    height: 500px;
    margin: 0px 0 0 -450px;
    position: relative;
    top: 50%;
    left: 50%;
}
#carousel img {
    display: block;
    float: left;
    border: none;
    position: relative;
}
