body {
}

/*Backgrounds*/
.grey-background {
    background-color: #E6E6E6;
}




p{font-family:'Dosis';}


#carrousel{
width:100%;
}

.offer {
    background: url("../images/what_we_offer_background.png") no-repeat;
    background-size: cover;
    min-height: 455px;
}

#links_wwO{
    margin-top: 68px;
    margin-left: 17%;
    font-family:'Dosis';
    font-weight:bold;
    font-size: 30pt;
    color:#3d0000;
    display: inline-block;
}

#links_wwO:hover{
color:#ED6F23;
font-family:'Dosis';
text-decoration:none;
font-weight:bold;
}

.wwO-icon {
padding-top: 50px;
padding-left: 0px;
text-align: right;
}

.icon-solutions{
    background: url(../images/icon_solutions.svg) 0 0 no-repeat;
    max-width: 100%;
}

.icon-experience{
    background: url(../images/icon_experience.svg) 0 0 no-repeat;
    max-width: 100%;
}

.icon-pocket {
background: #fff url(../images/pocket_icon.png) 0 0 no-repeat;
background-position:center;
max-width: 100%;
}

.icon-pocket:hover {
background: #fff url(../images/pocket_icon_hover.png) 0 0 no-repeat;
background-position:center;
max-width: 100%;
}

.icon-travel {
background: #fff url(../images/travel_icon.png) 0 0 no-repeat;
background-position:center;
max-width: 100%;
}
.icon-travel:hover {
background: #fff url(../images/travel_icon_hover.png) 0 0 no-repeat;
background-position:center;
max-width: 100%;
}
.icon-executive {
background: #fff url(../images/executive_icon.png) 0 0 no-repeat;
background-position:center;
max-width: 100%;
}
.icon-sounds {
background: #fff url(../images/sounds_icon.png) 0 0 no-repeat;
background-position:center;
max-width: 100%;

}
.project-icon {
text-align: center;
padding-top: 10%;
padding-bottom: 10%;
background-color: rgb(230, 230, 230);
}

.projects-home {
max-width: 100%;
background: url("../images/back_proj_home.png") no-repeat;
background-size: contain;
min-height: 501px;
position: relative;
}

.base-projects-home {
max-width: 100%;
background: url("../images/back_proj_home.png") no-repeat;
background-size: contain;
min-height: 501px;
padding:0px;
margin-top: 0px !important;
}

.pocket-box {
position: absolute;
padding: 6%;
border: 1px;
left: 20%;
bottom: 20%;
}

.travel-box {
position: absolute;
padding: 6%;
border: 1px;
left: 36%;
bottom: 34%;
}

.executive-box {
position: absolute;
padding: 6%;
border: 1px;
left: 52%;
bottom: 48%;
}

.sounds-box {
    position: absolute;
    padding: 6%;
    border: 1px;
    left: 68%;
    bottom: 62%;
}

@media (min-width: 926px) { /* Insert your own breakpoint as needed */
 .mobile-menu { display: none; }
}
 
@media (max-width: 925px) { /* Insert your own breakpoint as needed */
 .mobile-menu { display: block; margin-bottom: 9px;}
 nav#mainNav .nav { display: none; }
 nav#mainNav.navbar .nav>li { width: 100%; }
}

.company p{
    padding-left: 10%;
    text-align:justify;
}

.company ul {
    list-style-type: none;
}

body > div.container{
	margin-top: 0px;
}
